<!DOCTYPE html>
<html>
    <head>
        
        <title>ParkIN</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Viga|ZCOOL+KuaiLe" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
    </head>
    <body>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">ParkIN</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav navbar-right nav">
                        <li><a href="/about">About</a></li>
                        <%if(!currentUser){%>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        <li><a href="/register"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                        <%}else{%>
                        <li><a href="#">Signed in as <%=currentUser.username%></a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <%}%>
                    </ul>
        </div>
    </div>
</nav>
<div class="container">
    <%if (error && error.length>0){%>
        <div class="alert alert-danger" role="alert">
            <%=error%>
        </div>
    <%}%>
    <%if (success && success.length>0){%>
    <div class="alert alert-success" role="alert">
        <%=success%>
    </div>
    <%}%>
</div>
